.body{
    scroll-behavior: smooth;
}
.row-padding{
    padding-bottom:15px;
    padding-top: 5px;
}
.navigation{
    width: 100%;
    top: 691px;
    left: 0px;
    border-width: 0px;
    background: darkcyan;
    color: #fff;
    border-radius: 0px;
    position: absolute;
    z-index: 10;
   
}

.affix {
      top: 0;
      position: fixed;
      z-index: 10;
}

/*.affix + .container-fluid {
      padding-top: 70px;
}*/
.icon-bar{
    background: #fff;
}

.main-photo{
    background-image: url('/designs/img/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.mover{
    position: relative;
    top: 0px;
    width: 100%;
}
.navigation + .mover{
    padding-top: 40px;

}

#features{
    background: url('/designs/img/7.png');
    background-attachment: fixed;
    background-size: cover;
   
}

.text {
    color:#008b8b;
    text-shadow: none;
}
.text-justify{
    margin: 35px 320px;
    font-family: 'Montserrat',sans-serif;
}

.text-header{
    margin-top:50px;
    margin-bottom: 40px;
    font-family: 'Pacifico',cursive;
}
.about{
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
   background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
   background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
   background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
}

/* image overlays */
.image{
    height: 200px;
    width: 300px;
    transition: width 1.5s, height 1.5s;
    position: relative;
    
}
.overlay{
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height:100%;
    background-color: #000;
    opacity: 0.4;
    display: none;
}
.overlay-text{
    position: absolute;
    top:0px;
    left: 0px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 14px;
    z-index:10;
    line-height: 100px;
    display: none;
    
}
.image:hover{
    width: 320px;
    height: 210px;
}
.image:hover > .overlay{
    display: inline-block;
}
.image:hover > .overlay-text{
    display: inline-block;
}
#adventure{
    background-image: url('/designs/img/Bungy-5X1NZ.jpg');
    background-size: cover;
    background-position: center;
}
#beaches{
    background-image: url('/designs/img/cathedral-cove-coromandel.jpg');
    background-size: cover;
    background-position: center;
}
#wildlife{
    background-image: url('/designs/img/northern-royal-albatross.jpg');
    background-size: cover;
    background-position: center;
}
#richliving{
    background-image: url('/designs/img/split-apple-retreat-nelson.jpg');
    background-size: cover;
    background-position: center;
}
#fitness{
    background-image: url('/designs/img/aro-ha-wellness-retreat-yoga.jpg');
    background-size: cover;
    background-position: center;
}
#hobbiton{
    background-image: url('/designs/img/hobbiton-movie-set-1-(c).jpg');
    background-size: cover;
    background-position: center;
}
#maori{
    background-image: url('/designs/img/te-matatini3.jpg');
    background-size: cover;
    background-position: center;
}
#trails{
    background-image: url('/designs/img/snowfall-2.jpg');
    background-size: cover;
    background-position: center;
}
.btn-features:enabled{
    background-color: transparent;
    border: 1px solid white;
    color:#fff;
}
.btn-features:active{
    border: 1px solid orangered;
    color:orangered;
}




