.navigation{
    width: 100%;
    top: 691px;
    left: 0px;
    border-width: 0px;
    background: darkcyan;
    color: #fff;
    border-radius: 0px;
    position: absolute;
    z-index:10;
}

.affix {
      top: 0;
      position: fixed;
      z-index: 10;
}

.icon-bar{
    background: #fff;
}

.main-photo{
    background-image: url('../img/5.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    
}

.mover{
    position: relative;
    top: 0px;
    width: 100%;
}

.navigation + .mover{
    padding-top:40px;
}
#features{
    background: url('../img/7.png');
    background-attachment: fixed;
    background-size: cover;
   
}

.text {
    color:#008b8b;
    text-shadow: none;
}
.text-justify{
    margin: 35px 320px;
    font-family: 'Montserrat',sans-serif;
}

.text-header{
    margin-top:50px;
    margin-bottom: 40px;
    font-family: 'Pacifico',cursive;
}
.about{
   background-image: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#f3f3f3));
   background-image: -webkit-linear-gradient(top, #ffffff, #f3f3f3);
   background-image: -moz-linear-gradient(top, #ffffff, #f3f3f3);
   background-image: linear-gradient(to bottom, #ffffff, #f3f3f3);
}
